<h1>Primer dia</h1>
<hr>
<div
    class="card"
    style="width: 18rem;"
>
    <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
        <hr>
        <b>Descripcion:</b>
        <p class="card-text">{{card.description}}</p>
        <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
        >
            Guardar datos
        </button>
    </div>
</div>


<p>La variable del padre es:</p>
<h2>{{ejemplo}}</h2>

<p>el id del usuario es </p>
<h3>{{usuario}}</h3>






<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="exampleModalLabel"
                >
                    Modal title
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                >
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
